<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,210},{28,54}}</string>
                <key>offset</key>
                <string>{-133,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,22},{28,54}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{42,40}}</string>
                <key>offset</key>
                <string>{-129,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,36},{42,40}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,324},{74,56}}</string>
                <key>offset</key>
                <string>{-112,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{74,56}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,266},{74,56}}</string>
                <key>offset</key>
                <string>{-102,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,19},{74,56}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,324},{74,56}}</string>
                <key>offset</key>
                <string>{-92,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,20},{74,56}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,266},{74,56}}</string>
                <key>offset</key>
                <string>{-82,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,19},{74,56}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,324},{74,56}}</string>
                <key>offset</key>
                <string>{-72,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,20},{74,56}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,266},{74,56}}</string>
                <key>offset</key>
                <string>{-62,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,19},{74,56}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{56,60}}</string>
                <key>offset</key>
                <string>{-36,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,16},{56,60}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,78}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,13},{122,78}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{114,70}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,16},{114,70}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,154},{106,64}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,16},{106,64}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,294},{86,70}}</string>
                <key>offset</key>
                <string>{-130,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{86,70}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,78}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,13},{122,78}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,82},{114,70}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,16},{114,70}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{106,64}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,16},{106,64}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,366},{78,46}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,30},{78,46}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,382},{74,44}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,32},{74,44}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,154},{32,54}}</string>
                <key>offset</key>
                <string>{-42,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,22},{32,54}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{86,72}}</string>
                <key>offset</key>
                <string>{-130,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{86,72}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{88,72}}</string>
                <key>offset</key>
                <string>{-129,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{88,72}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,220},{86,72}}</string>
                <key>offset</key>
                <string>{-130,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{86,72}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,294},{86,70}}</string>
                <key>offset</key>
                <string>{-130,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{86,70}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{86,72}}</string>
                <key>offset</key>
                <string>{-130,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{86,72}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{88,72}}</string>
                <key>offset</key>
                <string>{-129,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{88,72}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,220},{86,72}}</string>
                <key>offset</key>
                <string>{-130,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{86,72}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qianniao.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d8210fe2b84158cd051f62d4a937499$</string>
            <key>textureFileName</key>
            <string>qianniao.png</string>
        </dict>
    </dict>
</plist>
